:root{
    --font01: "Gabarito";
    --cor01:#140AFF;
    --cor02:#F3D33C;
    --cor03:#D1B941;
    --cor04:#38348A;
    --cor05:#524F42;
}
#div-input{
    display: none;
    margin:10px;
}
#control-inp{
    display: flex;
    gap: 5px;
    margin:10px;
    
}
form{
    margin: 10px;
}
input{
    display: flex;
    flex-direction:row;
    margin: 5px 0px;
    padding: 5px;
    border-radius:10px ;
    border: 1px solid black;
}
.div-main-calc{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}
#control-inp > label{
    padding: 2px;
}
.btn-page{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px;
}
.btn-page > button{
    margin-bottom: 5px;
    padding: 20px;
    border-radius:10px ;
    border: 1px solid black;
}
.result-equipe{
    height: 15px;
    width: 35%;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.472);
}
#btn-calc1{
    margin: 10px 20px;
    height: 10vh;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid yellow;
    background-color: white;
    color: yellow;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.377);
}
#btn-calc1:hover{
    background-color: yellow;
    color: white;
    transition: .3s;
}
#btn-calc2{
    margin: 10px 20px;
    height: 10vh;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid orange;
    background-color: white;
    color: orange;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.377);
}
#btn-calc2:hover{
    background-color: orange;
    color: white;
    transition: .3s;
}
#btn-calc3{
    margin: 10px 20px;
    height: 10vh;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid purple;
    background-color: white;
    color: purple;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.377);
}
#btn-calc3:hover{
    background-color: purple;
    color: white;
    transition: .3s;
}
#btn-calc4{
    margin: 10px 20px;
    height: 10vh;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid green;
    background-color: white;
    color: green;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.377);
}
#btn-calc4:hover{
    background-color: green;
    color: white;
    transition: .3s;
}
#btn-calc5{
    margin: 10px 20px;
    height: 10vh;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid red;
    background-color: white;
    color: red;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.377);
}
#btn-calc5:hover{
    background-color: red;
    color: white;
    transition: .3s;
}